
.ui-dialog-content { overflow-y:auto; }
.sn-selectTree label {display: inline-block;}
.sn-selectTree div {display: inline-block;}
.sn-selectTree .btnSelect { width: 40px;}
.sn-selectTree .texts { background-image: url('images/selectTree.png');
    background-repeat: no-repeat;
    background-position-x: right;
    background-position: right center;}

